<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- <link rel="icon" sizes="800x800" href="/logo.png"> -->

<!-- Bootstrap CSS -->
<link rel="stylesheet preload" href="/stylesheets/style.css">

<meta name="og:title" property="og:title" content="<%= title %>">
<meta property="og:locale" content="en_GB">
<!-- <meta property="og:description" content="<%= title %>"> -->
<!-- <meta property="og:site_name" content="<%= title %>"> -->
<!-- <meta name="description" content="<%= title %>"> -->

<title><%= title %> - COM3504</title>